.exercise-list{
    display: flex;
    flex-direction:row;
    border: 2px solid var(--third-color);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.exercise-list>.my-button{
    height: 30px;
    width: 30px;
}
.page-profile{

    display: flex;
    flex-direction: column;
    padding: 150px;
    justify-content: space-around;
    align-items:center;
    gap:   20px;
}
.bottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.left-profile{
        display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.right-profile, .left-profile{
    display: flex;
    flex-direction: column;
    border: 20px;
    gap: 20px;
    border: solid var(--third-color);
    padding: 20px;
    border-radius: 20px;

}
.plus{

height: 100%;
max-height: 40px;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
font-size: larger;
gap: 30px;
padding: 10px;
background-color: var(--second-color);
border: solid var(--third-color);
border-radius: 20px;
}
.top{
    background-color: var(--second-color);
    padding: 20px;
    border-radius: 20px;

}
.plus:hover{
    background-color: black;
}
@media  (max-width: 600px) {
    .page-profile{
        display: flex;
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }
    .bottom{
        flex-direction: column;
    }
}