.exercise-list{
    display: flex;
    flex-direction:row;
    border: 2px solid var(--third-color);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.exercise-list>.my-button{
    height: 30px;
    width: 30px;
}
.page-profile{

    display: flex;
    padding: 150px;
    justify-content: space-around;
    align-items:flex-start;
    gap:   20px;
}
.left{
        display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media  (max-width: 600px) {
    .page-profile{
        display: flex;
        flex-direction: column;
        padding: 40px;
        align-items: center;
    }
}