
.exercise-field{
    display: flex;
    justify-content: space-between;

}
.exercise-add{
    display: flex;
    justify-content: space-between;
}

.list-exercises{
    display: flex;
    flex-direction: column;
    gap: 5px;
}