.sets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    border-radius: 3px;
    background-color: var(--second-color);
    padding:10px
}
.sets >div{

    background-color:var(--main-color);
    min-width: 140px;
    border: 5px solid white;
    text-align: center;
    border-radius: 5px;
}